{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-6 question_body">
        <h2>Що таке тип документу?</h2>
          <div class="versions_block">
            <div class="input-group">
              <input class='check_input' type="checkbox">
              <p class="version_text">sdfsdfds</p>
            </div>
            <div class="input-group">
              <input class='check_input' type="checkbox">
              <p class="version_text">sdfsdfds</p>
            </div>
            <div class="input-group">
              <input class='check_input' type="checkbox">
              <p class="version_text">sdfsdfds</p>
            </div>
            <div class="input-group">
              <input class='check_input' type="checkbox">
              <p class="version_text">sdfsdfds</p>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock content %}
  